---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Eyes%20Shut&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Eyes+Shut&offset=0&limit=20&type=track",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/5vBSrE1xujD2FXYRarbAXc"
                  },
                  "href" : "https://api.spotify.com/v1/artists/5vBSrE1xujD2FXYRarbAXc",
                  "id" : "5vBSrE1xujD2FXYRarbAXc",
                  "name" : "Years & Years",
                  "type" : "artist",
                  "uri" : "spotify:artist:5vBSrE1xujD2FXYRarbAXc"
                } ],
                "available_markets" : [ "CA", "MX", "US" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/50jDQcZjE2kdx5rn3AL0c8"
                },
                "href" : "https://api.spotify.com/v1/albums/50jDQcZjE2kdx5rn3AL0c8",
                "id" : "50jDQcZjE2kdx5rn3AL0c8",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/796283387c818b39066382c96cc13c3661dcb537",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/c2ccbc08e0e0eac179959ec70ca21b36aab51795",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/c73f41e3b25210a42d386b53d48dc8a471f7ee5a",
                  "width" : 64
                } ],
                "name" : "Communion (Deluxe)",
                "type" : "album",
                "uri" : "spotify:album:50jDQcZjE2kdx5rn3AL0c8"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/5vBSrE1xujD2FXYRarbAXc"
                },
                "href" : "https://api.spotify.com/v1/artists/5vBSrE1xujD2FXYRarbAXc",
                "id" : "5vBSrE1xujD2FXYRarbAXc",
                "name" : "Years & Years",
                "type" : "artist",
                "uri" : "spotify:artist:5vBSrE1xujD2FXYRarbAXc"
              } ],
              "available_markets" : [ "CA", "MX", "US" ],
              "disc_number" : 1,
              "duration_ms" : 198226,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "GBUM71501268"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/2xzzSkFGtf0w5ZATRYa1Tg"
              },
              "href" : "https://api.spotify.com/v1/tracks/2xzzSkFGtf0w5ZATRYa1Tg",
              "id" : "2xzzSkFGtf0w5ZATRYa1Tg",
              "name" : "Eyes Shut",
              "popularity" : 56,
              "preview_url" : "https://p.scdn.co/mp3-preview/f2d1c0e60f020a8746a64118ccb677cdf17cc44c",
              "track_number" : 6,
              "type" : "track",
              "uri" : "spotify:track:2xzzSkFGtf0w5ZATRYa1Tg"
            }, {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/3rIZMv9rysU7JkLzEaC5Jp"
                  },
                  "href" : "https://api.spotify.com/v1/artists/3rIZMv9rysU7JkLzEaC5Jp",
                  "id" : "3rIZMv9rysU7JkLzEaC5Jp",
 [...]
